body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.intro {
    text-align: justify;
    padding: 0 150px;
    margin: 40px 0;
}

.visual1, .visual2, .visual3 {
    text-align: center;
    margin: 20px 0;
    padding: 25px;
    background-color: #f4f4f4;
}

.visual1 p, .visual2 p, .visual3 p {
    margin: 10px 0;
    padding: 0;
}

button {
    padding: 10px 45px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container{
    min-height: 90vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    width: 100%; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
    pointer-events: none;
    opacity: 0;
}

.horizontal-grid line {
    stroke: rgb(193, 191, 191); /* Color of the grid lines */
    opacity: 0.9;
    stroke-width: 1px;
}